<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>({{ .ObjectTree.FullPath }})</title>
    <meta name=viewport content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'nonce-{{ .Nonce }}'">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div>
    <ul>
        {{ if ne .ObjectTree.DirName  "/" }}
            <li><a href="../index.html">../</a></li>
        {{ end }}
        {{ range $key, $value := .ObjectTree.Children }}
            <li><a href="{{ $value.DirName }}/index.html">{{ $value.DirName }}/</a></li>
        {{ end }}
        {{ range  .ObjectTree.Objects }}
            <li><a href="/{{ .Object.Key }}">{{ .Object.Key | ObjectBaseName }}</a> {{ .Object.LastModified }}</li>
        {{ end }}
    </ul>
</div>
</body>
</html>
