<ul>
{{ range $key, $value := .Children }}
    <li>{{ $key }}/
        {{ template "partial.tree.html.tmpl" $value }}
    </li>
{{ end }}
{{ range  .Objects }}
    <li><a href="/{{ .Key }}">{{ .BaseName }}</a> {{ .LastModified }} [{{ .Size }}]</li>
{{ end }}
</ul>

