<ul>
{{ range $key, $value := .Children }}
    <li>{{ $key }}/
        {{ template "partial.tree.html.tmpl" $value }}
    </li>
{{ end }}
{{ range  .Objects }}
    <li><a href="/{{ .Object.Key }}">{{ .Object.Key | ObjectBaseName }}</a> {{ .Object.LastModified }} [{{ .Object.Size }}]</li>
{{ end }}
</ul>

